
.suggestionList
{
    position: absolute;
    background-color: #f7f7f7;
    top: 33px;
    width: 300px;
    left: 72px;
    box-shadow: 8px 6px 16px #bbb7b7;
}
.searchCont
{
    position: relative;
}